* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;

}

.wrapper {
    background: #F2F2F2 url("images/depan2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 770px;
}

.satu {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    position: relative;
    height: 50px;
    top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navitems {
    display: flex;
    align-items: center;
}

.logo {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:30px;
}

.navitems li{
    list-style: none;
    margin-right: 70px;
    transition: 300ms;
}

.navitems li:hover{
    transform:translateY(-3px);
}

.navitems li:nth-last-of-type(1) {
    margin:0;
    width: 185px;
}

.navitems li a {
    text-decoration: none;
    color: #FFFFFF;
}

.cekidot img{
    width: 100%;
    transition: 700ms;
}

.cekidot img:hover{
    transform: scale(103%);
}

.mengkost{
    margin-top:118px;
    width: 43%;
}

.mengkost h1{
    font-size: 80px;
    margin-bottom: 20px;
}

.mengkost p{
    font-weight:100;
    font-size: 20px;
}

.mengmap {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gambar {
    filter: drop-shadow(0px 62px 54px rgba(0, 0, 0, 0.3));
}

.gambar img{
    border-radius: 0px 57px 57px 0px;
    width: 100%;
    display: block;
    margin-left: -5%;
    transition: 800ms;
}

.gambar img:hover{
    transform: scale(102%) translateX(10px);
}

.huehue {
    color: black;
    width: 40%;
}

.huehue h1{
    font-weight: 800;
    font-size: 54px;
    margin-bottom: 20px;
}

.huehue p{
    width: 60%;
}

.cekmaps img{
    margin-top: 45px;
    margin-left: 18%;
    width: 28%;
    transition:500ms;
}

.cekmaps img:hover{
    transform: scale(103%) translateY(-3px);
}
.mengharga {
    background-color:#17a538 ;
    height: 750px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
}

.harga {
    flex: 1;
    margin-left:50px;
}

.lorong {
    flex:1;
    filter: drop-shadow(0px 62px 54px rgba(0, 0, 0, 0.3));
}

.lorong img{
    border-radius: 57px 57px 57px 57px;
    display: block;
    margin-left: 15%;
    transition: 700ms;

}

.lorong img:hover{
    transform: scale(103%)
}

.harga h1 {
    text-align: center;
    font-weight: 600;
    font-size: 500%;
    margin-bottom: 30px;
}

.fasil p {
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: 400;
    font-size: 20px;
}

.hitam {
    height: 100px;
    background-color: black;
}
